# MPG Cars

### Rukhshsan Alam

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')

In [6]:
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [8]:
cars1.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,20.0,4,130,102,3150,15.7,76,2,volvo 245
10,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8
11,19.0,4,120,88,3270,21.9,76,2,peugeot 504
12,19.0,6,156,108,2930,15.5,76,3,toyota mark ii
13,16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s
14,16.5,8,350,180,4380,12.1,76,1,cadillac seville
15,13.0,8,350,145,4055,12.0,76,1,chevy c10
16,13.0,8,302,130,3870,15.0,76,1,ford f108
17,13.0,8,318,150,3755,14.0,76,1,dodge d100
18,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc
19,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe

In [9]:
cars2.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
5,29.5,4,97,71,1825,12.2,76,2,volkswagen rabbit
6,32.0,4,85,70,1990,17.0,76,3,datsun b-210
7,28.0,4,97,75,2155,16.4,76,3,toyota corolla
8,26.5,4,140,72,2565,13.6,76,1,ford pinto
9,20.0,4,130,102,3150,15.7,76,2,volvo 245
10,13.0,8,318,150,3940,13.2,76,1,plymouth volare premier v8
11,19.0,4,120,88,3270,21.9,76,2,peugeot 504
12,19.0,6,156,108,2930,15.5,76,3,toyota mark ii
13,16.5,6,168,120,3820,16.7,76,2,mercedes-benz 280s
14,16.5,8,350,180,4380,12.1,76,1,cadillac seville
15,13.0,8,350,145,4055,12.0,76,1,chevy c10
16,13.0,8,302,130,3870,15.0,76,1,ford f108
17,13.0,8,318,150,3755,14.0,76,1,dodge d100
18,31.5,4,98,68,2045,18.5,77,3,honda accord cvcc
19,30.0,4,111,80,2155,14.8,77,1,buick opel isuzu deluxe

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

### Step 5. What is the number of observations in each dataset?

In [12]:
cars1.shape

(200, 9)

In [13]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
m_owners = np.random.randint(15000, high = 73000, size = 400)

### Step 8. Add the column owners to cars

In [23]:
cars['Owner'] = m_owners

In [24]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Owner
0,33.0,4,91,53,1795,17.4,76,3,honda civic,65624
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,71633
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia,67177
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj,23625
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l,62562